/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.jsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ba9851c3c22cd980-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/21350d82a1f187e9-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c5fe6dc8356a8c31-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/19cfc7226ec3afaa-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/8e9860b6e62d6359-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_f367f3';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/e4af272ccee01ff0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_f367f3';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_f367f3 {font-family: '__Inter_f367f3', '__Inter_Fallback_f367f3';font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/** 全体 ********/
/**************/
* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: bold;
  text-align: center;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(/_next/static/media/top-image.aa12fdde.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  height: 100%;
}

/* ボタンリンク */
HTML CSS Result Skip Results Iframe *,
*:before,
*:after {
  box-sizing: inherit;
}

.button-link {
  display: flex;
  justify-content: center;
}

.btn,
a.btn,
button.btn {
  width: 30%;
  font-size: 0.8rem;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0.1em;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.0rem;
  color: #6a6a6a;
  border-radius: 0.2rem;
  background: #124656;
  margin: 10px;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  height: 500%;
  content: "";
  transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #00b7ee;
}

a.btn-flat:hover:before {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.scroll-arrow {
  margin-bottom: 200px;
}

section {
  padding-bottom: 200px;
}

/* ヘッダー */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav {
  line-height: 35px;
  margin: auto;
  width: 70%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.menu a:hover {
  color: rgb(40, 109, 194);
}

/* h1テキスト点滅 */
.glowing-text {
  font-size: 3.0rem;
  text-shadow: 0 0 10px rgb(95, 102, 150), 0 0 20px rgb(57, 91, 146), 0 0 30px rgb(150, 179, 226), 0 0 40px rgba(63, 101, 177, 0.401);
  /* テキストに光の影を追加 */
  font-family: 'Cinzel', serif;
}

.top {
  height: 100vh;
}

.fade-in-text {
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  background-color: rgba(0, 0, 0, 0.538);
}

/** aboutMe */
.about-me {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5em;
}

.cp_timeline04 {
  position: relative;
  /* margin: 3em auto; */
  padding-bottom: 2em;
}

.cp_timeline04:before {
  position: absolute;
  top: 0px;
  left: 45px;
  width: 3px;
  height: 100%;
  content: '';
  background: #85aef4;
}

.cp_timeline04 .timeline_item {
  margin: 0px 0px 0px 80px;
}

.cp_timeline04 .timeline_item .time_date .time {
  font-family: serif;
  font-size: 5em;
  font-weight: bold;
  position: relative;
  margin: 0;
  letter-spacing: 3px;
  color: rgba(225, 215, 215, 0.4);
}

.cp_timeline04 .timeline_item .time_date .time:before {
  position: absolute;
  top: 50%;
  left: -42px;
  width: 10px;
  height: 10px;
  content: '';
  transform: rotate(45deg);
  border: 3px solid #6fa4ff;
  background: #fff;
}

.cp_timeline04 .timeline_item .time_date .flag {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-top: -60px;
  color: white;
}

.cp_timeline04 .timeline_item .desc {
  font-size: 0.8em;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 20px;
  border-left: 1px solid #5c91f2;
}

.cp_timeline04:before {
  left: 15px;
}

.cp_timeline04 .timeline_item .time_date .time:before {
  left: -32px;
}

.cp_timeline04 .timeline_item {
  margin: 0px 0px 0px 40px;
}

.cp_timeline04 .timeline_item .desc {
  padding-left: 0px;
  border-top: 1px solid #578bf3;
  border-left: none;
}


/** Blog/GitHub*/
.link-table table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

.link-table th,
.link-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.link-table a {
  text-decoration: none;
  color: #007bff;
}

.link-table a:hover {
  color: #0056b3;
}

/* 画像にカーソルを当てるとズームインする時の時間 */
.works-img {
  margin: 15px;
  transition: transform 0.3s ease;
  /* マウスオーバー時のアニメーションを設定 */
}

.self-study-evidence-img {
  margin: 15px;
  transition: transform 0.3s ease;
  /* マウスオーバー時のアニメーションを設定 */
}

/* 画像にカーソルを当てるとズームイン */
.works-app:hover .works-img {
  transform: scale(1.1);
  /* マウスオーバー時に画像を1.1倍に拡大（ズームイン） */
}

.self-study-evidence:hover .self-study-evidence-img {
  transform: scale(1.1);
  /* マウスオーバー時に画像を1.1倍に拡大（ズームイン） */
}

.fade-in-text {
  opacity: 0;
  /* 初期状態は透明 */
  animation: fadeInAnimation 3s ease forwards;
  /* フェードインのアニメーションを適用 */
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
    /* アニメーションの最終状態は不透明（フェードイン） */
  }
}

/** フッター */
footer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.452);
  /* 半透明の黒 */
  line-height: 100px;
}

footer img {
  height: 50px;
  width: 50px;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sample7 {
  overflow: hidden;
  margin: 10px 8px 10px 16px;
  position: relative;
}

.sample7 .caption {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding-top: 83px;
}

.sample7 .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* 表示させない */
  background-color: rgba(0, 0, 0, 0.4);
  transform: rotateX(-180deg);
  transition: all 0.6s ease;
}

.sample7:hover .mask {
  transform: rotateX(0deg);
  opacity: 1;
  /* ホバーで表示する */
}


/** スマートフォン ***********/
/**************************/
@media screen and (max-width: 768px) {

  /* h1テキスト点滅 */
  .glowing-text {
    font-size: 2.0rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* 左寄せにする */
    width: 100%;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  /* バツマークのアニメーション */
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 6px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  h2 {
    padding-bottom: 30px;
  }

  p {
    font-size: 0.7rem;
  }

  a {
    text-decoration: none;
    transition: 1.0s;
    cursor: pointer;
    color: white;
  }

  a:hover {
    color: rgb(228, 218, 218);
  }

  /* .App {
    text-align: center;
    width: 100%;
    height: 100%;
  } */

  /** main */
  main {
    /* height: 100%;
    width: 100%;
    opacity: 0.9; */
  }

  /** works */
  .works-app {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .works-img img {
    width: 100%;
  }

  /** self-study-evidence */
  .self-study {
    padding-top: 50px;
  }

  .self-study-evidence-box {
    display: flex;
    flex-wrap: wrap;
  }

  .self-study-evidence {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }

  .self-study-evidence-img img {
    width: 100%;
  }

  /** skill */
  .skills {
    margin: 5px;
  }

  .skills-box {
    display: flex;
    flex-wrap: wrap;

  }

  .skill {
    width: 22%;
    box-shadow: 0 0 3px gray;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 12px;
    background: white;
  }

  .skill-img img {
    width: 40px;
    padding: 7px;
  }

  .skills h2 {
    padding-bottom: 20px;
  }

  .skill p {
    color: black;
  }

  /** qualifications */
  .qualifications-box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

  .qualification {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .qualification-img img {
    /* width: 100%; */
  }

  .qualifications p {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 0;
  }


}


/** タブレット ****************/
/***************************/
/* @media (min-width: 768px) and (max-width: 1023px) {} */


/** PC *********************/
/***************************/
@media (min-width: 1024px) {

  main {
    padding: 0 200px;
  }

  h2 {
    font-size: 2.5rem;
    padding: 100px 0 50px 0;
  }

  a {
    text-decoration: none;
    transition: 1.0s;
    cursor: pointer;
    color: white;
  }

  a:hover {
    color: rgb(228, 218, 218);
  }

  /* .App {
    text-align: center;
    height: 100%;
  } */

  /** works */
  .works {
    padding-top: 50px;
  }

  .works-app-box {
    display: flex;
    flex-wrap: wrap;
  }

  .works-app {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }

  .works-img img {
    width: 100%;
  }


  /** self-study-evidence */
  .self-study {
    padding-top: 50px;
  }

  .self-study-evidence-box {
    display: flex;
    flex-wrap: wrap;
  }

  .self-study-evidence {
    width: 33%;
    margin: auto;
    margin-bottom: 30px;
  }

  .self-study-evidence-img img {
    width: 100%;
  }


  /** skill */
  .skills-box {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    width: 17%;
    box-shadow: 0 0 5px gray;
    margin: 10px auto;
    background: white;
    opacity: 0.9;
  }

  .skill-img img {
    width: 40%;
    height: 100%;
  }

  .skill p {
    font-size: 1.1rem;
    padding: 10px;
    color: black;
  }

  /** qualifications */
  .qualifications-box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .qualification {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .qualification-img img {
    /* width: 100%; */
  }

  .qualifications p {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 0;
  }

}
